/*header, main, footer {
  padding-left: 300px; }

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0; }
 }
*/
main {

}
.editor-tab {
  position: fixed;
  top: 114px;
  left:0;
  right:0;
  bottom:0;
}


.editor-stage {
  position: fixed;
  top: 114px;
  left:0;
  right:0;
  bottom:0;
  overflow: scroll;
}
